<%@ Master Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="MantTemplate.master.cs" Inherits="WebFormTest.Site.MantTemplate" %>
<asp:Content ID="TemplateContent" ContentPlaceHolderID="MainContent" runat="server">
    <div class="row" style="padding-bottom:1rem;"> 
        <asp:ContentPlaceHolder ID="ButtonContent" runat="server" />
    </div>
    <asp:ContentPlaceHolder ID="ArtistContent" runat="server" />
</asp:Content>
